body {
    background: #e8491d;
    font-family: Arial, Helvetica, sans-serif;
}
.container-fluid-1 {
    text-align:center;
    width:75%;
    margin:0px auto;
}
.container-fluid-1 li {
    list-style-type:none;
}
/* carousel */
.carousel-inner img{
    height:75vh;
    width:100%;
}
.carousel-caption {
    position:absolute;
    top:70%;
    transform: translateY(-30%); 
} 
.carousel-caption h1{
    color:#e8491d;
}
.stay {
    color:#e8491d;
    margin-top:50px;
}
/* navbar */
.navbar {
    border-top: 2px #e8491d solid;
    border-bottom:2px #e8491d solid;
    background:black !important;
}
.navbar-nav {
    background:black !important;
}
/* btn */
.btn-outline {
    background:#e8491d;
    color:#fff;
}
.btn, btn{
    background:#e8491d;
    color:#fff;
    border:1px darkslategrey;
}
.btn-danger {
    background:#e8491d;
    color:#fff;
    border:1px #e8491d solid;
}
.btn-danger:hover {
    background:#e8491d;
    border:1px #e8491d solid ;
    color:white;

}

/* card */
.card hr {
    color:#e8491d;
}
.card {
    background:black;
    color:#fff;
}
.card-2{
    background: black;
}
.card a{
    color:#e8491d;
}
/* Randoms */
.how, .fex, .issue, .cap, .sex, .all {
    background:black !important;
}
.sign{
background:#e8491d;
color: #fff;
border-radius: 1rem;
}

/* navbar */
.navbar-toggler {
   background:#e8491d; 
}

/* check-box */

/* footer */
footer ul {
    list-style: none;
    margin:0;
    padding:0;
}
.social a{
   margin: 0 2px;
}
/* slide */
#slides {
    height:75vh
}
.mar {
    background:#e8491d;
    color:#fff;
    padding-top:0.8rem;
}

