{% extends 'landing/base.html' %}
{% load static %}

{% block nav %}
            <ul class="navbar-nav ml-auto pl-2 bg-dark">
              <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="sign up.html" class="nav-link">Sign up</a></li>
              <li class="nav-item"><a href="{% url 'vend' %}" class="nav-link">Coupon Vendors</a></li>
              <li class="nav-item"><a href="login.html" class="nav-link">Login</a></li>
              <li class="nav-item"><a href="{% url 'how' %}" class="nav-link">How FEXTRA Works</a></li>
              <li class="nav-item"><a href="contactsupport@fextra.com" class="nav-link">Support</a></li>
            </ul>
            {% endblock %}


{% block content %}

<!-- Start of About US -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Us</h5>
          <p class="card-text lead">
            Fextra is an Affiliate marketing program and one of the  easiest ways to get started with making money online. Fextra has been created with the aim of taking the number one spot when it comes to making money online. We the FOUNDERs went into research and found out the importance of the web and brought out a solution that works. Where you earn by just performing Little tasks on our Site.
           We have various status of earning either daily, weekly, monthly, we plan on expanding our various status of earning as time goes on. Fextra is capable of using the affiliate world to enrich individuals. It earns income through adverts placement and endorsement. We are not running a rob peter pay paul platform or PONZI scheme, since we have a clear status of earning. With the aim of putting members first, we are working to have a 24/7 customer care response to put our customers satisfaction on a jet.  Its just so easy to earn with FEXTRA..</p>
        </div>
      </div>
      <!-- End oF About Us -->


{% endblock %}