{% extends 'landing/base.html' %}
{% load static %}

{% block nav %}
            <ul class="navbar-nav ml-auto pl-2 bg-dark">
              <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="{% url 'sign_up' %}" class="nav-link">Sign up</a></li>
              <li class="nav-item"><a href="{% url 'vend' %}" class="nav-link">Coupon Vendors</a></li>
              <li class="nav-item"><a href="{% url 'log_in' %}" class="nav-link">Login</a></li>
              <li class="nav-item"><a href="{% url 'how' %}" class="nav-link">How FEXTRA Works</a></li>
              <li class="nav-item"><a href="mailto:contactsupport@fextra.com" class="nav-link">Support</a></li>
            </ul>
            {% endblock %}


{% block content %}

<!-- start of carousel-->
       <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'landing/images/background2.png' %}" alt="">
                <div class="carousel-caption">
                    <h1 class="display-4 font-weight-bold">FEXTRA</h1>
                    <h3>The No.1 Growing Investment Platform in Nigeria.</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'landing/images/doctor.png' %}" alt="">
                <div class="carousel-caption text-center">
                    <h3 class="text-uppercase">Always Wear A face Mask</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'landing/images/background2.png' %}" alt="">
            </div>
        </div>
      </div>
      <!-- end of carousel -->

      <!-- start of contact us -->
      <div class="container-2 text-white text-center">
        <h3>Contact Us</h3>
        <p>CALL US: (9:00am - 8:00pm MON -SAT): <a href="+2348176448051, +234"></a></p>
        <p>Mr Emmanuel - +2348176448051</p>
        <p>Mr Joshua - +2348095690761</p>
      </div>
      <!-- end of contact us -->


{% endblock %}