{% extends 'landing/base.html' %}
{% load static %}

{% block nav %}
    <ul class="navbar-nav ml-auto pl-2 bg-dark">
      <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active">Home</a></li>
      <li class="nav-item"><a href="{% url 'sign_up' %}" class="nav-link">Sign up</a></li>
      <li class="nav-item"><a href="{% url 'vend' %}" class="nav-link">Coupon Vendors</a></li>
      <li class="nav-item"><a href="{% url 'log_in' %}" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="{% url 'how' %}" class="nav-link">How FEXTRA Works</a></li>
      <li class="nav-item"><a href="contactsupport@fextra.com" class="nav-link">Support</a></li>
    </ul>
{% endblock %}

{% block content %}

<!-- start of carousel-->
      <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'landing/images/First.png' %}" alt="">
                <div class="carousel-caption">
                    <div class="mt-4 d-flex justify-content-between">
                      <a href="sign up.html" class="btn btn btn-md">SIGN UP</a>
                      <a href="login.html" class="btn btn btn-md">LOGIN</a>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'landing/images/work.png' %}" alt="">
            </div>
            <div class="carousel-item">
              <img src="{% static 'landing/images/msk.png' %}" alt="">
            </div>
        </div>
      </div>
      <!-- end of carousel -->


{% endblock %}